{% extends 'imgdesc/header.html' %}
{% block title %}IMAGE TO TXT - 리스트{% endblock %}
{% block content %}



<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">List</h1>
                <hr class="divider my-4" />
            </div>
            <div class="col-lg-10 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5">


                <a class="btn btn-primary btn-xl js-scroll-trigger" href="{% url 'imgdesc:board' pk=0 mode='add' %}">Upload</a>

                  <!--navigation-->
                  {% if mydb.has_other_pages %}
                  <div>
                    <ul class="pagination">

                      <li class="page-item {% if not mydb.has_previous %}disabled{% endif %}">
                        <a class="page-link" {% if mydb.has_previous %}href="?page={{ mydb.previous_page_number }}"{% endif %}>&laquo;</a>
                      </li>
                      {% for i in mydb.paginator.page_range %}
                      <li class="page-item {% if mydb.number == i %}active{% endif %}">
                        <a class="page-link" {% if not mydb.number == i %}href="?page={{ i }}"{% endif %}>{{ i }}</a>
                      </li>
                      {% endfor %}
                      <li class="page-item {% if not mydb.has_next %}disabled{% endif %}">
                        <a class="page-link" {% if mydb.has_next %}href="?page={{ mydb.next_page_number }}"{% endif %}>&raquo;</a>
                      </li>
                    </ul>
                  </div>
                  {% endif %}

                  <br/><br/>

                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">no</th>
                        <th scope="col">image</th>
                        <th scope="col">caption</th>
                        <th scope="col">voice</th>
                        <th scope="col">created_date</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for lst in mydb %}
                      <tr class="table-light">
                        <td>{{ forloop.counter }}</td>
                        <td>
                          {% if lst.photo %}
                            <img src="{{ lst.photo.url }}" width="100px" alt=""></td>
                          {% endif %}
                        </td>
                        <td id="{{ lst.img_no }}_cap_txt">{{ lst.caption_ko }}</td>
                        <td id="{{ lst.img_no }}_voice">
                          <input type="button" class="tts btn btn-primary" name="{{ lst.img_no }}" value="음성 생성">
                          {% if lst.audio_url %}
                          <audio controls>
                            <source id="{{ lst.img_no }}_audio" src="{{ lst.audio_url }}" type="audio/mp3">
                          </audio>
                          {% endif %}

                        </td>
                        <td>{{ lst.created_date }}</td>
                        <td><a href="{% url 'imgdesc:board' pk=lst.pk mode='del' %}">Del</a></td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>



                </p>
            </div>
        </div>
    </div>
</header>







{% endblock %}

{% block js-foot %}



<script type="text/javascript">
// 버튼 클릭 > ajax통신 (like url로 전달) > views의 like 메소드에서 리턴하는 값 전달받기 > 성공시 콜백 호출
$('.tts').click(function(){
  var pk = $(this).attr('name') // 클릭한 요소의 attribute 중 name의 값을 가져온다.
  $.ajax({
      type: "POST", // 데이터를 전송하는 방법을 지정한다.
      url: "/imgdesc/voice/"+pk, // 통신할 url을 지정한다.
      data: {'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'}, // 서버로 데이터를 전송할 때 이 옵션을 사용한다.
      dataType: "json", // 서버측에서 전송한 데이터를 어떤 형식의 데이터로서 해석할 것인가를 지정한다. 없으면 알아서 판단한다.
      // 서버측에서 전송한 데이터 views.py like 메소드
      // context = {'likes_count' : memo.total_likes, 'message' : message}
      // json.dump(context)를 통해서 json 형식으로 전달된다.

      success: function(response){ // 성공했을 때 호출할 콜백을 지정한다.
        id = $(this).attr('name')
        $('#' + pk + 'voice').html("<audio controls><source id=\'"+id+"_audio\' src=\'"+response.myvoiceurl+"\' type=\'audio/mp3\'></audio>");
        alert(response.message);
      },
      error:function(request,status,error){
        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
      }
  });
})
</script>


{% endblock js-foot %}