{% extends 'imgdesc/header.html' %}
{% block title %}IMAGE TO TXT - 리스트{% endblock %}
{% block content %}

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Num</th>
      <th scope="col">userid</th>
      <th scope="col">image</th>
      <th scope="col">caption</th>
      <th scope="col">created_date</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% for lst in mydb %}
    <tr class="table-light">
      <th scope="row">{{ lst.img_no }}</th>
      <td>{{ lst.userid }}</td>
      <td>
        {% if lst.photo %}
          <img src="{{ lst.photo.url }}" width="100px" alt=""></td>
        {% endif %}
      </td>
      <td>{{ lst.caption }}</td>
      <td>{{ lst.created_date }}</td>
      <td><a href="{% url 'imgdesc:board' pk=lst.pk mode='del' %}">Del</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<!--navigation-->
{% if mydb.has_other_pages %}
    {% if mydb.has_previous %}
        <a href="?page={{ mydb.previous_page_number }}">Previous</a>
    {% else %}
        <span>Previous</span>
    {% endif %}


    {% for i in mydb.paginator.page_range %}
        {% if mydb.number == i %}
            <span>{{ i }}</span>
        {% else %}
            <a href="?page={{ i }}">{{ i }}</a>
        {% endif %}
    {% endfor %}


    {% if mydb.has_next %}
        <a href="?page={{ mydb.next_page_number }}">Next</a>
    {% else %}
        <span>Next</span>
    {% endif %}
{% endif %}

{% endblock %}